:root {
    --kc-primary: #D21F3C;
    --kc-secondary: #2f2f2f;
}

/* Custom backgrounds */

.bg-kc-primary {
    background-color: var(--kc-primary) !important;
}

.bg-kc-secondary {
    background-color: var(--kc-secondary) !important;
}

/* Custom text colors */

.text-kc-primary {
    color: var(--kc-primary) !important;
}

/* ustom css styles */

.card-image img {
    height: 12rem;
    filter: contrast(1.05) brightness(1.05)
}

/* .card-image img:hover{
    height: 12rem;
    filter: none;
} */

.rside-tag {
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 25%;
    translate: 0.3s ease-in-out;
}

.rside-tag_1 {
    background-color: var(--kc-primary);
    margin-bottom: 0.1rem;
    width: 10rem;
    height: 7rem;
    /* border: 1px solid red; */
    transform: translate(-50% 0);
    border-top-left-radius: 1rem;
}

.rside-tag-2 {
    background-color: var(--kc-secondary);
    margin-bottom: 0.1rem;
    width: 10rem;
    height: 7rem;
    /* border: 1px solid red; */
    transform: translate(-50% 0);
    border-bottom-left-radius: 1rem;
}

.rside-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rside-avtar {
    align-items: center;
    display: flex;
    justify-content: center;
}

.rside-link {
    color: white;
    font-size: x-small;
    text-decoration: none;
    cursor: pointer;
    word-spacing: 1px;
    margin: 0;
}

.rside-link:hover {
    color: rgb(209, 208, 208);
    font-size: x-small;
    text-decoration: none;
    cursor: pointer;
}

.nav-item .nav-link {
    text-transform: uppercase !important;
    padding: auto 0.5rem !important;
    font-weight: 500 !important;
    letter-spacing: 1px;
    font-size: small;
}

.btn-white {
    background-color: #fff;
    height: 2rem;
    margin: auto auto;
    padding: 0 2rem;
    text-transform: uppercase;
    color: var(--kc-primary);
    font-weight: 600;
    font-size: small;
}

.banner {
    width: 100%;
}

.all-caps {
    text-transform: uppercase;
}

.text-highlight-black {
    color: black;
    font-weight: 800;
}

.text-highlight-primary {
    color: var(--kc-primary);
}

.btn-custom-brown {
    background-color: #473838;
    color: #fff;
    padding: 0.3rem 2rem;
    font-weight: bolder;
    border-radius: 0 !important;
}

.t-back {
    background: #FAE5D0;
    padding: 2rem 0;
}

.t-group {
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.t-content {
    margin-left: 1rem;
}

.t-image {
    width: 200px;
    height: 100%;
}

.t-content {
    font-size: x-small;
}

.quote_1 {
    margin-top: 4rem;
    max-width: 100%;
}

.quote_2 {
    width: 100%;
    margin-top: -6rem;
}

.title-1 {
    margin-top: 2rem;
    font-size: 40px;
    font-weight: 700;
}

.title-2 {
    margin-top: 2rem;
    font-size: 20px;
    font-weight: 700;
}

.news-title {
    color: var(--kc-primary);
    font-weight: 600;
    font-size: x-large;
}

footer {
    background-color: var(--kc-secondary);
    padding: 2rem;
}

.footer-address h6, .footer-item h6 {
    font-weight: 300;
    color: white;
}

.banner-back {
    background-image: url('images//white-bg.png');
    background-size: 100% 100%;
}

.banner-content {
   
    display: flex;
    justify-content: space-between;
}
/* .banner-left{

} */
.banner-right{
  
   display: flex;
   align-items: flex-end;
}
.banner-left-item {
   
    margin-top: 5rem;
    position: relative;
    left: 70%;
    
    margin-bottom: 5rem;
}
.banner-right-item{
    
    position: relative;
    right:85%;
   
}
.image-main{
    transform: scale(0.25);
}

.about-party{
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 16px;
    /* line-height: 0rem; */
}
.kc-card{
    background-color: white;
    box-shadow: 0 0 20px rgba(220, 220, 220, 0.383);
    border-radius: 10px;
}
@media screen and (max-width:576px) {
    .t-group{
        flex-direction: column;
    }
    .banner-right{
        display: none;
    }
    .banner-left-item{
        position: relative;
        left: 1rem;
    }
    .rside-tag{
        transform: scale(0.65);
    }
}